@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:ital,wght@0,300;0,700;1,400&family=Public+Sans:wght@100;500;800;900&family=Roboto+Condensed&family=Roboto+Mono:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
}

.filter.col{
    background-color: #60A401;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    
}
.navbar{
    padding:0 !important;
    margin: 0 !important;
}
.navbar .container-fluid{
    padding:0 !important;
    margin: 0 !important;
}
.bg-light {
    background: transparent !important;
}

.navbar-scroll {
    background:#60a401db !important;
}

.navbar-toggler{
    padding: 1px 5px ;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}
.nav-link{
    position: relative;
}
.nav-link:after{
    content:'';
    height: 4px;
    background-color: #020202;
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    transition: all .5s ;
}
.nav-link:hover:after{
    width: 100%;
}


.carousel-item{
    height: 100vh;
    min-height: 300px; 
    
}
.carousel-caption{
    bottom: 250px;
}

.carousel-caption h5{
    font-size: 45px;
    letter-spacing: 2px;
    margin-top: 25x;
}
.carousel-caption p{
    font-size: 25px;
    line-height: 1.9;
}
.carousel-caption .btn-outline-info {
    color: #60A401;
    border-color:#60A401;
    font-size: 25px;
    line-height: 1.9;
    
}
.carousel-caption .btn-outline-info:hover {
    color: #eceee9;
    background-color: #60A401;
    
}

.btn-primary {
    color: #eceee9;
    background-color: #60A401;
    border-color:#60A401;
}
.card_text{
    height: px;
    transition: all .5s ;
}
.card_text:hover{
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 22.64%, rgba(34, 0, 105, 0.79) 88.68%, rgba(47, 16, 113, 0.7) 88.68%);

}
.card{
    position: relative;
    transition: all .5s ;
}
.card-item{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 42.69%, #050505 100%, rgba(0, 0, 0, 0.69) 100%);
    transition: all 1s ;
}
.card:hover .card-item{
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 22.64%, rgba(34, 0, 105, 0.79) 88.68%, rgba(47, 16, 113, 0.7) 88.68%);
}


.type .card:hover{
    background-color: #60A401;
    color: #eceee9;
    fill: #eceee9;
}

.bg-image{
    height: 400px;
    background-size: 100% 100% ;  
    background-repeat:no-repeat;
}

.navbar-light .navbar-toggler{
    background-color: transparent !important;
    margin-right: 10px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../Inages/menu bar.png") !important;
    
}

.list {
   height: 400px;
}

.filter select {
    cursor: pointer !important;
} 

.dot {
    height: 12px;
    width: 12px;
    background-color: #60A401;
    border-radius: 50%;
    display: inline-block;
  }






@media only screen and (max-width: 2000px){
    
    ul{
        font-size: 10px;
    }
    .blog_txt{
        font-size: 10px;
    }
    
}


@media only screen and (max-width: 1200px){
    .navbar-nav{
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
    }
    
    .logo img{
        height:50px ;
        width: 140px; 
    }
    .carousel-item{
        height: 40vh;
    
    }
    
    .carousel-caption{
        bottom: 10px;
    }
    .carousel-caption h5{
        font-size: 20px;
        letter-spacing: 1px;
        
    }
    .carousel-caption p{
        font-size: 13px;
        line-height: .9;
    }
    .carousel-caption .btn-outline-info {
        font-size: 9px;
        line-height: .9;
        
    }
    .bg-image{
        height: 300px
    }
    .list {
        height: 300px;
     }
    
    

    
    
}


@media only screen and (max-width: 767px){
    .navbar-nav{
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
    }
    
    .logo img{
        height:35px ;
        width: 100px; 
    }
    .carousel-item{
        height: 30vh;
        min-height: 300px;   
    }
    
    .carousel-caption{
        bottom: 50px;
    }
    .carousel-caption h5{
        font-size: 17px;
        letter-spacing: 1px;
        
    }
    .carousel-caption p{
        font-size: 9px;
        line-height: .9;
    }
    .carousel-caption .btn-outline-info {
        font-size: 9px;
        line-height: .9;
        
    }
    ul{
        font-size: 10px;
    }
    .bg-image{
        height: 150px
    }
    .list {
        height: 150px;
     }
    .list img{
        height: 30px;
    }
    .list .fs-3{
        font-size: 15px !important;
        
    }
    .list .fs-5{
        font-size: 10px !important;
        
    }
    
}
